h1, h2{font-family: 'Open Sans Condensed', sans-serif;
		letter-spacing: 2px;}

h3, h4, p{font-family: 'Didact Gothic', sans-serif;}

.navbar{margin-bottom: 0}

.row {margin: 0;}

.header_slide{padding-top: 80px;
			  padding-bottom: 50px;
			  color: white;
			  height: 780px;}

.header_slide h2{margin-top: 20px;}

.cont img{margin-right: 10px}

.about, .technologies {padding-top: 50px;
	 				   padding-bottom: 100px;}

.about h2{margin-top: 50px;}

.about h4{margin-bottom: 30px;}

.about_list .thumbnail img{height: 200px;
							margin: auto;}


.up_left {border-right: 1px solid white;}
.down_left {border-right: 1px solid white;}
/* 

.up_left {border-bottom: 1px solid black;}

.up_right {border-left: 1px solid black;}
.up_right {border-bottom: 1px solid black;}


.down_left {border-top: 1px solid black;}

.down_right {border-left: 1px solid black;}
.down_right {border-top: 1px solid black;}
*/

.adv_down{border-top: 1px solid white;}


.advantages {background-color: #666666;
			padding-top: 80px;
			padding-bottom: 100px;
			color: white;
			}

.advantages > .container > h2{margin-bottom: 60px;}


.adv h2{color: #ff9900;}

.technologies{background-color: white;}

.technologies_list  .thumbnail {background-color: white;
								border: none;
								}

.thumbnail{height: 500px;}

.thumbnail a > img, .thumbnail > img {margin: 0;}

.price{margin-right: 30px;
float: right;}

.technologies_list  .thumbnail img {height: 100px;}

.form{background-color: #666666;
		color: white;}
